# 3rd party dependencies
pyserial>=3.1.1
numpy

# rtd dependencies
Sphinx>=1.6.3
sphinx-autobuild>=0.7.1
sphinx-rtd-theme>=0.2.4
sphinxcontrib-websupport==1.0.1

recommonmark

# swp dependencies
git+https://github.com/UmSenhorQualquer/pysettings.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/logging-bootstrap.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pybpod-gui-plugin.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pybpod-rotary-encoder-module.git